// CREW PAGES
.crew {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--crew > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(0 0% 100% / .1);
}

.grid-container--crew > .dot-indicators {
    grid-area: tabs;
}

.grid-container--crew > .crew-details {
    grid-area: content;
}

.crew-details h2 {
    color: hsl(0 0% 100% / .5);
}

@media (min-width: 35em) {
    .crew {
        background-position: center center;
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }

    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
    }
}

@media (min-width: 45em) {
    .crew {
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
    
    .grid-container--crew {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }
    
    .grid-container--crew > picture {
        grid-column: span 2;
        align-self: start; 
        max-width: 50%;
    }
}