// DESTINATION PAGES
.destination {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
}

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(0 0% 100% / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination-meta p {
    font-size: 1.75rem;
}

@media (min-width: 35em) {
    .destination {
        background-position: center center;
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    
    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 45em) {
    .destination {
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
    }
    
    .grid-container--destination > picture {
        max-width: 90%;
    }
    
    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }
}